.input-inline {
  display: inline-block;
  width: 80% !important;
  margin: 10px 10px 10px 0 !important;
  background-color: #fff !important;
  padding: 0 15px !important;
}
.btn {
  height: 46px !important;
  margin-bottom: 1px;
}
.message-user {
  margin-right: 25px;
}
.message-bot {
  margin-left: 25px !important;
}