.input-inline {
  display: inline-block;
  width: 55% !important;
  margin: 1% 1% 0 1% !important;
  background-color: #fff !important;
  padding: 0 15px !important;
}
.btn {
  width: 15%;
  height: 43px !important;
  margin: 2px 0 10px 0 !important;
}
.message-user, .message-bot {
  margin-left: 25px !important;
  padding: 10px !important;
  border-radius: 3px;
}
.message-box {
  height: 500px;
  overflow-y: auto;
}
.container-center {
  padding: 15px;
  width: 80%;
  margin: 0 auto;
}
.header {
  color: #fff;
}
#input-row {
  margin: 0;
}
.icon {
  margin: 5px;
}
@media (min-width: 640px) {
  .btn {
    display: flex;
    justify-content: center;
    width: 8%;
    height: 46px !important;
    margin: 10px 0 10px 0 !important;
  } 
  .input-inline {
    width: 84% !important;
  }
}